body {
  margin: 0px;
  padding: 0px;
}

.root {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.item {
  border: 2px solid rgba(0, 17, 255, 0.5);
  margin: auto;
  padding: 5%;
  flex-direction: column;
}

.item.item {
  display: flex;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}